<!DOCTYPE html>
<html>
<head>
    <title>SocketIO Server Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>SocketIO Server Test</h1>
    <button id="test">Send Message to Server</button>
    <div id="response"></div>
    
    <script type="text/javascript">
        var socket = io.connect('http://localhost:8101');
        
        socket.on('connect', function() {
            console.log('Connected to server');
        });

        $('#test').on('click', function() {
            socket.emit('message', 'Hello from client!');
        });

        socket.on('response', function(data) {
            $('#response').html(data.response);
        });
    </script>
</body>
</html>
